startup --host_jvm_args=-Xmx3g

build --color=yes
fetch --color=yes
run --color=yes

common --registry=https://bcr.bazel.build/
common --registry=https://raw.githubusercontent.com/envoyproxy/bazel-registry/b6e15c00b1c0493cd194b1b248c562bd8bc46648
common --noincompatible_disallow_empty_glob
# Required for `@envoy//tools/jq` (toolshed `jqcat`): `$(JQ_BIN)` expands to an
# execroot-relative `external/...` path that is only present in `bazel run`
# runfiles with the legacy layout.
common --legacy_external_runfiles

common --@rules_python//python/config_settings:bootstrap_impl=script
build --incompatible_default_to_explicit_init_py
common --@protobuf//bazel/flags:prefer_prebuilt_protoc=true
common --incompatible_enable_proto_toolchain_resolution

build --jobs=HOST_CPUS-1
build --action_env=SPHINX_JOBS

common:ci --noshow_progress
common:ci --noshow_loading_progress
common:ci --test_output=errors

# RBE (Engflow Envoy)
build:common-envoy-engflow --google_default_credentials=false
build:common-envoy-engflow --credential_helper=*.engflow.com=%workspace%/bazel/engflow-bazel-credential-helper.sh
build:common-envoy-engflow --grpc_keepalive_time=30s

build:cache-envoy-engflow --remote_cache=grpcs://mordenite.cluster.engflow.com
build:cache-envoy-engflow --remote_timeout=3600s
build:bes-envoy-engflow --bes_backend=grpcs://mordenite.cluster.engflow.com/
build:bes-envoy-engflow --bes_results_url=https://mordenite.cluster.engflow.com/invocation/
build:bes-envoy-engflow --bes_timeout=3600s
build:bes-envoy-engflow --bes_upload_mode=fully_async
build:bes-envoy-engflow --nolegacy_important_outputs
build:rbe-envoy-engflow --remote_executor=grpcs://mordenite.cluster.engflow.com
build:rbe-envoy-engflow --remote_default_exec_properties=container-image=docker://gcr.io/envoy-ci/envoy-build@sha256:25a68eff24b7414a346977d545687b87851d1c5746c466798050fa12fc5d0686
build:rbe-envoy-engflow --jobs=200

build:remote-envoy-engflow --config=common-envoy-engflow
build:remote-envoy-engflow --config=cache-envoy-engflow
build:remote-envoy-engflow --config=bes-envoy-engflow
build:remote-envoy-engflow --config=rbe-envoy-engflow

try-import %workspace%/repo.bazelrc
try-import %workspace%/user.bazelrc
