name: Update Envoy archive

permissions:
  contents: read

on:
  workflow_dispatch:
    # This is not used but is required by the website envoy-sync.yml
    # so added here for compatibility
    inputs:
      commit_sha:
        type: string
        required: false
        default: ""
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}


jobs:
  sync:
    runs-on: ubuntu-22.04
    permissions:
      contents: write
      packages: read
    if: |
      !contains(github.actor, '[bot]')
      || github.actor == 'sync-envoy[bot]'
    steps:
    - uses: envoyproxy/toolshed/gh-actions/bind-mounts@actions-v0.3.29
      with:
        mounts: |
          - src: /mnt/workspace
            target: GITHUB_WORKSPACE
            chown: "runner:runner"

    - id: appauth
      uses: envoyproxy/toolshed/gh-actions/appauth@actions-v0.3.29
      with:
        key: ${{ secrets.ENVOY_CI_UPDATE_BOT_KEY }}
        app_id: ${{ secrets.ENVOY_CI_UPDATE_APP_ID }}
        token: ${{ github.token }}
        token-ok: true

    # Checkout the Envoy repo
    - name: 'Checkout Repository'
      uses: actions/checkout@v5
      with:
        repository: envoyproxy/envoy
        ref: main
        path: envoy
        fetch-depth: 0

    # Checkout the repo
    - name: 'Checkout Repository'
      uses: actions/checkout@v5
      with:
        token: ${{ steps.appauth.outputs.token }}
        path: archive

    # NOTE: the version that is removed for testing should be a currently supported branch
    - run: |
        cd archive
        rm -rf docs/envoy/v1.36.1
      if: |
        github.event_name == 'pull_request'
    - run: |
        cd archive
        ENVOY_VERSION="$(git -C ../envoy rev-parse HEAD)"
        echo "Syncing Envoy -> ${ENVOY_VERSION}"
        bazel run --config=ci --config=remote-envoy-engflow //bazel:update envoy "${ENVOY_VERSION}"
        ./update-archive.sh
      env:
        COMMITTER_NAME: "update-envoy[bot]"
        COMMITTER_EMAIL: "135279899+update-envoy[bot]@users.noreply.github.com"
        ENVOY_SRC_DIR: ../envoy
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        TEST_ONLY: ${{ github.event_name == 'pull_request' && 'true' || '' }}
