name: Sync Envoy website

permissions:
  contents: read

on:
  push:
    branches:
    - main
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}

jobs:
  sync:
    runs-on: ubuntu-22.04
    steps:
    - uses: envoyproxy/toolshed/gh-actions/appauth@actions-v0.3.28
      id: appauth
      with:
        app_id: ${{ secrets.ENVOY_CI_SYNC_APP_ID }}
        key: "${{ secrets.ENVOY_CI_SYNC_APP_KEY }}"
    - uses: envoyproxy/toolshed/gh-actions/dispatch@actions-v0.3.28
      with:
        token: ${{ steps.appauth.outputs.token }}
        ref: main
        repository: envoyproxy/envoy-website
        workflow: archive-sync.yaml
